@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Poppins:ital,wght@0,200;0,300;0,500;1,200&family=Roboto+Mono:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: Poppins, "sans-serif";
  }

.hide {
    display: none;
}

body {
    background: url(../images/scenes/mainbg.webp) no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh
}

.content-wrapper {
    width: 800px;
    /* height: 600px; */
    border-radius: 10px;
    
    background-color: rgba(98, 187, 167, .8);
    text-align: center;
}

/* Info bar with home button and score */

.info-bar {
    background-color: #053A32;
    height: 70px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    
}

.home-button i {
    color: white;
    font-size: 30px;
    float: left;
    padding: 20px 10px 10px 20px;
    cursor: pointer;
}

.score-area {
    float: right;
    color: white; 
    padding-right: 20px;
}

.score-area div {
    float: left;
    padding: 20px 10px 10px 10px;
}

.score-area i {
    color: white;
    font-size: 30px;
    margin-right: 10px; 
}

#timer {
    font-family: 'Roboto Mono', monospace;
}

/* Welcome Area */

.heading {
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 40px;
    text-align: center;
    color: #053A32;
    letter-spacing: 2px;
    padding: 30px;
}

h2 {
    font-weight: bold;
    font-size: 25px;
}

.playbtn-outer {
    margin-bottom: 30px;
}

.instructions-btn, .play-btn, .instructions-btn {
    background-color: #3DD1E7;
    font-size: 25px;
    color: #053A32;
    border: 5px solid #053A32;
    border-radius: 10px;
    font-family: 'Mochiy Pop P One', sans-serif;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    width: 100%;
    max-width: 250px;
    cursor: pointer;
    margin: 20px 20px 0 20px;
    display: inline-block;
}

.play-btn a {
    font-size: 25px;
    color: #053A32;
    text-decoration: none;
    font-family: 'Mochiy Pop P One', sans-serif;
}

.instructions-btn:hover, .play-btn:hover, .instructions-btn:hover{
    transform: rotate(-2deg);
  }

/* .welcome-area, .game-area, .gameover, .instructions-area {
    clear: both;
} */

#leaderboard-wrapper {
    display: flex;
    justify-content: center;
}

.leaderboard-table {
    /* border-collapse: collapse; */
    margin: 25px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    table-layout: fixed;
    width: 50%;
    overflow-wrap: break-word;
}

.leaderboard-table thead tr {
    background-color: #053A32;
    color: white;
}

.leaderboard-table th, .leaderboard-table td {
    padding: 12px 15px;
}

.leaderboard-table tbody tr {
    border-bottom: 1px solid #dddddd;   
}

.leaderboard-table tbody tr:nth-of-type(even) {
    background-color: white;
}

/* .leaderboard-table tbody tr:last-of-type {
    border-bottom: 2px solid #053A32;
} */

.box-title {
    width: 60%;
    background-color: #FEAA0D;
    margin: 30px auto 0 auto;
    border-radius: 20px;
    color: #053A32;
    padding: 10px;
}

.safari .box-title {
    background-color: #053A32;
    color: #FEAA0D;
}
 
.instructions {
    color: #053A32;
    font-size: 17px;
    margin: 10px 30px;
}

.instructions p {
    padding:0 20px 20px 20px;
}

.instructions ol {
    padding: 20px;
    background-color: #f4b333;
    border-radius: 10px;
}

.instructions li {
    list-style-type: circle;
    font-size: 16px;
    padding: 5px 0;
    margin: 0 20px;
    text-align: left;
}

.select-level {
    padding: 20px;
    color: #053A32;
    /* font-size: 25px; */
    font-weight: bold;
}

.radio-labels {
    color: #053A32;
    font-size: 20px;
    padding: 5px;
}

.select-game-area {
    margin: 0 0 40px 0;
    display: flex;
    justify-content: space-evenly;
}
.select-game-area .game-button {
    width: 20%;
    cursor: pointer;
}
.select-game-area .button-image {
    height: 140px;
    border: 5px solid #053A32;
    border-radius: 10px;
}
.select-game-area .game-button:hover .button-image {
    border: 5px solid white;
}
.select-game-area .button-text {
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 25px;
}

#game-selected {
    font-family:'Mochiy Pop P One', sans-serif;
    font-size: 30px;
    color:#e40066;
    text-transform: uppercase;
}

.jungle {
    background: url(../images/scenes/jungle_scene.webp) no-repeat center center;
}
.sea {
    background: url(../images/scenes/sea_scene.webp) no-repeat center center;
}
.farm {
    background: url(../images/scenes/farm_scene.webp) no-repeat center center;
}
.safari {
    background: url(../images/scenes/safari_scene.webp) no-repeat center center;
}
.jungle, .sea, .farm, .safari {
    background-size: cover;
}

/* Animal Cards */

.card-area {
    padding: 60px 0 40px 0;
}

.card-area-hard {
    padding: 60px 0 40px 0;
    width: 600px;
    display: inline-block;
}

.card, .card-hard {
    height: 150px;
    width: 150px;
    display: inline-block;
    margin: 0 10px 20px 10px;
    border-radius: 5px;
    text-transform: capitalize;
    background-color: #fff;
    background-size: 140px 140px;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    color: #053A32;
}

.card:hover, .card-hard:hover {
    box-shadow: inset 0px 0px 3px #345995;
	box-sizing: border-box;
}

.card-hard {
    height: 130px;
    width: 130px;
    background-size: 120px 120px;
}


.camel {
    background-image: url(../images/animal_cards/camel.webp);
}
.cat {
    background-image: url(../images/animal_cards/cat.webp);
}
.cockeral {
    background-image: url(../images/animal_cards/cockeral.webp);
}
.cow {
    background-image: url(../images/animal_cards/cow.webp);
}
.crab {
    background-image: url(../images/animal_cards/crab.webp);
}
.crocodile {
    background-image: url(../images/animal_cards/crocodile.webp);
}
.dog {
    background-image: url(../images/animal_cards/dog.webp);
}
.dolphin {
    background-image: url(../images/animal_cards/dolphin.webp);
}
.donkey {
    background-image: url(../images/animal_cards/donkey.webp);
}
.elephant {
    background-image: url(../images/animal_cards/elephant.webp);
}
.treefrog {
    background-image: url(../images/animal_cards/frog.webp);
}
.giraffe {
    background-image: url(../images/animal_cards/giraffe.webp);
}
.goat {
    background-image: url(../images/animal_cards/goat.webp);
}
.gorilla {
    background-image: url(../images/animal_cards/gorilla.webp);
}
.hippo {
    background-image: url(../images/animal_cards/hippo.webp);
}
.horse {
    background-image: url(../images/animal_cards/horse.webp);
}
.jellyfish {
    background-image: url(../images/animal_cards/jellyfish.webp);
}
.lion {
    background-image: url(../images/animal_cards/lion.webp);
}
.monkey {
    background-image: url(../images/animal_cards/monkey.webp);
}
.octopus {
    background-image: url(../images/animal_cards/octopus.webp);
}
.ostrich {
    background-image: url(../images/animal_cards/ostrich.webp);
}
.panda {
    background-image: url(../images/animal_cards/panda.webp);
}
.pig {
    background-image: url(../images/animal_cards/pig.webp);
}
.rhino {
    background-image: url(../images/animal_cards/rhino.webp);
}
.seahorse {
    background-image: url(../images/animal_cards/seahorse.webp);
}
.seal {
    background-image: url(../images/animal_cards/seal.webp);
}
.shark {
    background-image: url(../images/animal_cards/shark.webp);
}
.sheep {
    background-image: url(../images/animal_cards/sheep.webp);
}
.sloth {
    background-image: url(../images/animal_cards/sloth.webp);
}
.snake {
    background-image: url(../images/animal_cards/snake.webp);
}
.squid {
    background-image: url(../images/animal_cards/squid.webp);
}
.swordfish {
    background-image: url(../images/animal_cards/swordfish.webp);
}
.tiger {
    background-image: url(../images/animal_cards/tiger.webp);
}
.toucan {
    background-image: url(../images/animal_cards/toucan.webp);
}
.turtle {
    background-image: url(../images/animal_cards/turtle.webp);
}
.walrus {
    background-image: url(../images/animal_cards/walrus.webp);
}
.whale {
    background-image: url(../images/animal_cards/whale.webp);
}
.zebra {
    background-image: url(../images/animal_cards/zebra.webp);
}



.correct-card {
    box-shadow: inset 0 0 99999px rgba(0, 255, 106, 0.5) !important;
}

/* shake animation from w3 schools https://www.w3schools.com/howto/howto_css_shake_image.asp */
.incorrect-card {
  animation: shake 0.5s;
  /* animation-iteration-count: infinite; */
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.scores-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 70px;
}

.final-scores {
    text-align: center;
    width: 150px;
    height: 150px;
    background: #f4b333;
    border-radius: 10%;
    padding: 20px;
    color: #053A32;
    font-size: 18px;
    font-weight: bold;
}

.safari .final-scores {
    background-color: #053A32;
    color: #FEAA0D;
}

#final-time, #final-count, #level {
    font-size: 20px;
    font-family: 'Mochiy Pop P One', sans-serif;
    color: #e40066;
    text-transform: uppercase
}

#username {
    border-radius: 10px;
    padding: 10px;
    border: none;
    text-align: center;
    margin-top: 20px;
}

/* Media Queries */


/* For iPad/tablet sizes from 768px wide and down */
@media screen and (max-width: 768px) {

    .content-wrapper {
        width: 500px;
    }

    .welcome-area, .game-area, .gameover {
        width: 100%;
    }

    h2 {
        font-size: 23px;
    }

    .card-area {
        margin: 30px 20px 0px 20px;
    }
    
    .card-area-hard {
        width: 100%;
        margin-top: 30px;
    }

    .card {
        height: 140px;
        width: 140px;
        background-size: 130px 130px;
    }

    .card-hard {
        height: 100px;
        width: 100px;
        background-size: 90px 90px;
    }
}


/* For mobile device sizes from 480px wide and down */
@media screen and (max-width: 480px) {

    .content-wrapper {
        width: 100%;
        margin: 10px;
    }

    .heading {
        font-size: 25px;
        padding: 20px 10px;
    }
    
    h2 {
        font-size: 20px;
    }

    .box-title {
        padding: 20px;
        margin: 30px auto;
    }

    .select-level {
        font-size: 20px;
        padding: 20px 0 0 0;
    }

    .instructions {
        padding: 0;
    }
    .instructions p {
        padding:0 0 20px 0;
        font-size: 16px;
    }
    
    .instructions ol {
        padding: 20px;
    }
    
    .instructions li {
        margin: 0 5px;
    }
    .radio-labels {
        font-size: 15px;
        padding: 5px;
    }

    .button-area {
        margin: 10px 20px;
    }

    .card-area {
        padding: 20px;
        margin: 0;
    }

    .card-area-hard {
        padding: 5px;
        margin: 0;
    }

    .card, .card-hard {
        height: 130px;
        width: 130px;
        margin: 0 10px 20px 10px;
        background-size: 120px 120px;
    }

    .card-hard {
        height: 93px;
        width: 93px;
        background-size: 74px 74px;
    }

    .scores-wrapper {
        margin: 0;
    }
    .final-scores {
        width: 120px;
        height: 140px;
        padding: 5px;
        font-size: 13px;
        margin: 0 5px;
    }

    #final-time, #final-count, #level {
        font-size: 15px;
    }
}

/* For mobile device sizes from 320px wide and down */
@media screen and (max-width: 320px) {
    * {
        font-size: 17px;
    }

    .content-wrapper {
        height: 90vh;
    }

    .welcome-area, .game-area, .gameover {
        height: 441px;
    }

    .home-button i {
        padding-left: 10px;
    }
    
    .score-area {
        padding-right: 10px;
    }

    .heading {
        font-size: 20px;
        padding: 20px 10px;
    }
    
    h2 {
        font-size: 17px;
    }

    .card-area {
        margin: 30px 0 0 0;
    }
    
    .card-hard {
        height: 80px;
        width: 80px;
        background-size: 70px 70px;
    }

    #final-time, #final-count {
        font-size: 30px;
    }
    
}

/* @media screen and (max-height: 425px) {
    .content-wrapper {
        width: 100vw;
        height: 100vh;
    }
} */