body {
    background: #fecfd9;
    font-family: 'Quicksand', sans-serif;
}

h2 {
    font-weight: bold;
    font-size: 25px;
    color: #345995;
}

.heading {
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    color: #345995;
    letter-spacing: 3px;
    /* text-transform: uppercase; */

}

.hide {
    display: none;
}

.box-title {
    margin-top: 75px;
    text-align: center;
}

.game-area, .welcome-area, .gameover {
    background: #03cea4;
    height: 700px;
    width: 1000px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    text-align: center;
}

.home-button {
    width: 40px;
    cursor: pointer;
    float: left;
}

.home-button i {
    color: green;
    font-size: 30px;
    padding: 20px;
}

.score-area {
    float: right;
    color: green;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-family: 'Roboto Mono', monospace;
}

.score-area div {
    float: left;
    padding: 20px;
}

.scene-area {
    background: yellow;
    height: 350px;
    width: 700px;
    margin: 0 auto; 
    border-radius: 5px; 
}

/* Animal Cards */

.card {
    height: 150px;
    width: 150px;
    background: #c0f3e2;
    display: inline-block;
    margin: 50px 10px;
    border-radius: 5px;
}

.sheep {
    background-image: url('https://via.placeholder.com/150x150');
}

.Cat {
    background-image: url('https://via.placeholder.com/150x150');
}
.Mouse {
    background-image: url('https://via.placeholder.com/150x150');
}
.Monkey {
    background-image: url('https://via.placeholder.com/150x150');
}
.Sheep {
    background-image: url('https://via.placeholder.com/150x150');
}
.Cow {
    background-image: url('https://via.placeholder.com/150x150');
}
.Pig{
    background-image: url('https://via.placeholder.com/150x150');
}

.Horse{
    background-image: url('https://via.placeholder.com/150x150');
}



.correct-card {
    background: green;
    border: 1px solid green;
}
/* 
#modal {
    visibility: hidden;
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .5);
}

.modal-inner {
    width: 60%;
    height: 50%;
    background: royalblue;
    border-radius: 10px;
    margin: 50px auto;
    text-align: center;
    font-size: 3.5rem;
    color: white;
} */

#close {
    position: absolute;
	top: 50px;
	right: 280px;
	font-size: 50px;
	color: blue;
    text-decoration: none;
}

/* Footer */

.social-networks {
    width: 100%;
    text-align: center;
    padding: 40px 0;
    margin: 0;
    background: #c0f3e2;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    padding: 0 30px;
    color: #4b5054;
}

.social-networks i:hover {
    color: #142a2b;
}
