body {
    background: #fecfd9;
    font-family: 'Quicksand', sans-serif;
}

.heading {
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    color: white;
    letter-spacing: 3px;
    /* text-transform: uppercase; */

}

.menu-area {
    text-align: center;
}
.game-area {
    background: #f6f7bb;
    height: 700px;
    width: 900px;
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
}

.scene-area {
    background: yellow;
    height: 400px;
    width: 700px;
    margin: 0 auto; 
    border-radius: 5px; 
}

.card {
    height: 150px;
    width: 150px;
    background: #c0f3e2;
    display: inline-block;
    margin: 50px 10px;
    border-radius: 5px;
}

.score-area {
    text-align: center;
    color: white;
    font-size: 1.5rem;
}

.correct-card {
    background: green;
}

#modal {
    visibility: hidden;
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .5);
}

.modal-inner {
    width: 60%;
    height: 50%;
    background: royalblue;
    border-radius: 10px;
    margin: 50px auto;
    text-align: center;
    font-size: 3.5rem;
    color: white;
}

#close {
    position: absolute;
	top: 50px;
	right: 280px;
	font-size: 50px;
	color: blue;
    text-decoration: none;
}

/* Footer */

.social-networks {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 40px 0;
    margin: 0;
    background: #c0f3e2;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    padding: 0 30px;
    color: #4b5054;
}

.social-networks i:hover {
    color: #142a2b;
}
